h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #000000;
    font-size: 3.5em;
    margin: 1.5em auto 0.2em auto;
    text-shadow: -0.1em 0em 0.3em #ffffff;
}

#big-photo {
    background-image: url("../images/jean_team.jpg");
    background-size: 100%;
    height: 20em;
    width: 100%;
}

.quotes {
    font-family: 'Ubuntu', sans-serif;
}

.employee-photo {
    height: 7em;
    object-fit: cover;
    width: 100%;
    object-position: 0% 20%;
}

.value-photo {
    padding: 2.2em 0 1.3em 0;
}

.outside-block {
    padding: 1.2em;
}