/* Color Theme Swatches in Hex */
.Simple-gray-Texture-Background-1-hex { color: #3B5E8C; }
.Simple-gray-Texture-Background-2-hex { color: #314259; }
.Simple-gray-Texture-Background-3-hex { color: #6394BF; }
.Simple-gray-Texture-Background-4-hex { color: #F2BFAC; }
.Simple-gray-Texture-Background-5-hex { color: #F2836B; }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0em;
    padding: 0em;
}

header, footer {
    background-color: #F2836B;;
    width: 100%;
    margin: 0;
}

footer {
  width: 100%;
}

#foot {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 0px;
    height: 9em;
    margin: 0 auto;
    width: 1000px;
}

#foot p {
    font-size: 0.9em;
    margin: 0 1em;
}

#colorado-denim-logo {
    height: 6em;
    margin: 0 0 0 2em;
}

#colorado-proud {
    height: 6em;
    margin: 0 1em;
}

.container {
    width: 1000px;
    margin: 0 auto;
    background-color: #dfdfdf;
}

.row{
    display: flex;
}

.col{
    width: 100%;
    padding: 1.5em;
}

.w-100{
    width: 100%;
}

.w-80{
    width: 80%;
}

.w-75{
    width: 75%;
}
.w-66{
    width: 66.6666%;
}

.w-50{
    width: 50%;
}
.w-33{
    width: 33.3333%;
}
.w-25{
    width: 25%;
}

.w-20 {
    width: 20%;
}

.no-margins{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.center-margin{
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin: auto;
}

.center-headings {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
  color: black;
  background-color: white;
  padding: 0.8em 5em;
  border: 2px solid #e7e7e7;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.25s;
  cursor: pointer;
}

.button:hover {
    background-color: #e7e7e7;
}