

h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #000000;
    font-size: 3.5em;
    margin: 0.8em auto 0.2em auto;
    text-shadow: 0.2em 0.2em 0.5em rgb(200,200,200);
}

h2 {
    font-size: 2.7em;

}

p {
    padding: 0.2em;
    text-align: left;
}

#big-photo {
    background-image: url("../images/home-cover.jpg");
    background-size: 100% 230%;
    height: 20em;
    width: 100%;
}

#youngsters{
    background-image: url("../images/Y_product3.jpg");
    height: 4em;
}

#womens{
    background-image: url("../images/women_jean.jpg");
    height: 4em;
}
#mens{
    background-image: url("../images/man-denim.jpg");
    height: 4em;
}
