
#nav {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 0px;
    height: 5em;
    margin: 0 auto;
    width: 1000px;
    z-index: 1;

}

#smalogo{
  height: 3.5em;
  vertical-align: center;
}

#nav ul li {
  margin: 0;
}

#nav ul li {
    display: block;
    float: left;
    background-color: aliceblue;
}

#nav ul li a{
    display: block;
    padding: 0.6em;
    font-size: 1em;
    text-decoration: none;
}

#nav ul li a:hover{
    background-color: lightblue;
}
#shopping-cart {
    height: 3em;
}

#current {
  background-color: black;
  color: #3B5998;
}

#current a:hover{
  background-color: white;
}

.soc{
  height: 3em;
  width: 3em;
  margin: 0.2em;
}

.soc:hover {
    opacity: 0.7;
}

#nav input[type=text] {
  height: 1.2em;
  width: 10em;
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}

.topnav input[type=text] {
  border: 1px solid #ccc;  
}