.wide-photo {
    object-fit: cover;
    height: 5em;
    border-radius: 10%;
}

.button {

  padding: 0.6em 2em;
  margin: 4px 2px;
}

.product-pic {
  height: 8em;
}

.product-col {
  padding: 0.4em;
}