.wide-photo {
    object-fit: cover;
    height: 5em;
    border-radius: 10%;
}

.button {

  box-sizing: border-box;
  padding: 0.6em 2em;
  margin: 4px 2px;
  border: 2px solid #a7a7a7;
  border-radius: 10%;
}

.button-one-liner {
  padding: 1.2em 2em;
}

.button-holder {
  box-sizing: border-box;
  width: 8.5em;
  height: 4em;

}

.product-pic {
  height: 8em;
  object-fit: contain; 
  background-color: #ffffff;
  border: 2px solid #111111;
  border-radius: 10%;
}

.product-col {
  padding: 0.4em;
}